body{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}
h1{
    font-size: 3rem;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 70vw;
    margin: 10px auto;
}
form label{
    font-size: 2rem;
    text-align: left;
}
input{
    padding: 15px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid grey ;
}
input:focus{
    outline: 1px solid rgb(197, 7, 7);
    border-width: 3px;
    border-style: solid;
    border-color:rgba(223, 4, 4, 0.774) ;
}
button{
    padding: 10px;
    background-color: rgb(197, 7, 7);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16pt;
}

button:hover{
    background-color: rgb(158, 7, 7);
    cursor: pointer;
}


/* responsive for mobile  */
@media screen and (max-width: 425px){
    h1{
        font-size: 2rem;
    }

    form label{
        font-size: 14pt;
    }

}