body{
    text-align: center;
    font-family: monospace;
}
h1{
    font-size: 3rem;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 50vw;
    margin: 10px auto;
}
form label{
    font-size: 2rem;
    text-align: left;
}
input{
    padding: 10px;
    font-size: 16px;
}
input:focus{
    outline: none;
    border-width: 3px;
    border-style: solid;
    border-color:rgb(197, 7, 7) ;
}
button{
    padding: 10px;
    background-color: rgb(197, 7, 7);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16pt;
}

button:hover{
    background-color: rgb(158, 7, 7);
    cursor: pointer;
}